Django>=4.2,<6.0
djangorestframework>=3.14
django-cors-headers>=4.0

streamlit>=1.30
folium>=0.14
streamlit-folium>=0.20

requests>=2.31
feedparser>=6.0
beautifulsoup4>=4.12
lxml>=5.0
lxml_html_clean>=0.1.1

pandas>=2.0
python-dateutil>=2.8
geopy>=2.4