<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">

        <div class="navbar-nav flex-row order-md-last ms-auto">
            <div class="nav-item dropdown">
                <a
                    href="#"
                    class="nav-link d-flex lh-1 text-reset p-0"
                    data-bs-toggle="dropdown"
                >
                    <span class="avatar avatar-sm">
                        AI
                    </span>

                    <div class="d-none d-xl-block ps-2">
                        <div>Analis Intelijen</div>
                        <div class="mt-1 small text-secondary">
                            Pusat
                        </div>
                    </div>
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                    <a href="#" class="dropdown-item">Profil</a>
                    <a href="#" class="dropdown-item">Pengaturan</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Keluar</a>
                </div>
            </div>
        </div>

        <div>
            <div class="text-secondary small">
                Sistem Intelijen Medik Berbasis OSINT
            </div>
        </div>

    </div>
</header>